<!doctype html>
<html lang="en">
    <!-- Header Section -->
    <%- include('includes/header'); %> 
  <body>
      <!-- Nav Section -->
    <%- include('includes/nav'); %> 
    
    <!-- Footer Section -->
    <%- include('includes/footer'); %>  

  </body>
</html>